body {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: flex-start;
}

#canvas {
    background-color: black;
    margin: 40px;
}

#back {
    position: absolute;
    top: 8px;
    left: 8px;
}

#home {
    position: absolute;
    top: 32px;
    left: 8px;
}